*{
    font-family: Calibri;
    box-sizing: border-box;
}

body{
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

/* -------------------------------------
 Nav bar
------------------------------------- */

.navbar{
    background:#333333;
    color:white;
    height: 80px;
}

.navbar .logo{
    font-size: 48pt;
}

.navbar .flex-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

.navbar-base .flex-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-base{
    background: white;
    height: 80px;
}

.navbar-base a{
    color: #333333;
    text-decoration: none;
    font-size: 16pt;
}

.navbar-base .input-box{
    padding-right: 75px;
}

.navbar-base input{
    padding: 10px 15px;
}

.navbar ul{
    display: flex;
}

.navbar-base ul{
    display: flex;
    padding-left: 75px;
}

.navbar ul li{
    margin-left: 20px;
}

.navbar-base ul li{
    margin-right: 10px;
}

/* ----------------------------------
Header Section 
---------------------------------- */


.header{
    background-color: #f2f2f2;
    height: 300px;
    /* margin-bottom: 0px; */
}

.header img{
    height: 200px;
    width: 190px;
}

.header .flex-container3{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 25px;
}

.header .slogan{
    color: #333333;
    font-size: 58px;
    margin-left: 40px;
}

.header .slogan-text{
    color: #333333;
    font-size: 18pt;
}

.section-header::first-letter{
    font-size: 50pt;
}

.section-header{
    margin-top: 5px;
    font-size: 30pt;
    padding-left: 20px;
}


/* ------------------------------------
Boxes and Catalog section 
------------------------------------- */

.box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    margin-left: 10px;
    margin-top: -30px;
}

.fashion-box-container{
    margin-top: -40px;
}

.fashion-box-container p{
    color: #333333;
    font-size: 20pt;
    margin: 10px;
}

.deals-of-the-day .box{
    /* border: 1px solid black; */
    width: 140px;
}

.box-container .box img{
    height: 150px;
    width: 100%; 
}

.box p{
    text-align: center;
}

.fashion img{
    height: 160px;
    width: 160px;
}

.fashion-row1,
.fashion-row2{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.fashion-row1 .box,
.fashion-row2 .box{
    margin: 10px;
    background-color: #dbf3fa;
    border: 5px solid #dbf3fa;
}

/* footer */

.footer-container{
    display: flex;
    height: 100%;
    align-items: start;
    height: 500px;
    background-color: #131a22;
    color:white;
    padding-left: 30px;
}

.footer-container p{
    font-size: 18pt;
}

.footer-container a{
    color: white;
    font-size: 16pt;
    text-decoration: none;
}

.footer-container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 2em;
}

.footer-container .items{
    margin-right: 20px;
}

.index-search{
    padding: 0px 30px;
}

.index-search a{    
    text-decoration: none;
    color: #333333;
}

.index-search p{
    font-size: 14pt;
    text-align: justify;
}
